<br />
<div class="container">
  <%= link_to 'New Follow Up Item', new_list_path, class: "btn btn-success", data: {"turbo-frame": "list_form"} %>
  <%= turbo_stream_from "lists" %>
  <%= turbo_frame_tag "list_form" %>
  <br />
  <%= turbo_frame_tag "lists" do %>
    <% render @lists %>
  <% end %>

  <div class="container">
    <br />
    <%= will_paginate @lists, class:"page-item"%>
    <br />
    <br />
  </div>
</div>