<%= form_with(model: meeting) do |form| %>
  <% if meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
        <% meeting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br />

  <div class="container">
    <div class="field from-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control", placeholder: "Title" %>
    </div>

    <br />

    <div class="field form-group">
      <%= form.label :body %>
      <%= form.rich_text_area :body, class: "form-control", id: "custom-text-area", placeholder: "100 character minimum", style: "min-height: 380px; height: auto;" %>
    </div>
    <br />

    <div class="actions">
      <%= form.submit %>
    </div>
    <br />
  </div>
<% end %>
