<br />
<div class="container">
  <%= turbo_stream_from "meetings" %>
  <%= turbo_frame_tag "meeting_form"%>
  <%= link_to 'New Meeting', new_meeting_path, class: "btn btn-success", data: {"turbo-frame": "meeting_form"} %>
  <div class="container">
    <br />
    <table>
      <tbody id="meetings">
        <%= render "meetings"%>
      </tbody>
    </table>
  </div>
</div>

<div class="container">
  <%= will_paginate @lists, class:"page-item"%>
</div>